#about {
    height: 100vh;
    background-color: var(--yellow);
    overflow: hidden;
}

.about-relative-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about-photo-container {
    position: relative;
    width: 600px;
    height: 650px;
    opacity: 0;
    transition: var(--defaultTransition);
}

.about-photo {
    position: absolute;
    height: inherit;
    width: inherit;
    background-image: url(../assets/001.jpg);
    background-size: cover;
    background-position: 0px -200px;
    background-repeat: no-repeat;
    clip-path: polygon(60% 100%, 0 0, 100% 15%);
    transform: scale(0.5);
    transition: var(--defaultTransition);
    z-index: 1;
}

.photo-bck {
    position: absolute;
    top: 22px;
    left: -3px;
    width: inherit;
    height: inherit;
    background-color: var(--rose-pompadour);
    clip-path: polygon(60% 100%, 0 0, 100% 15%);
    transform: scale(1.2);
    transition: var(--defaultTransition);
    z-index: 0;
}

.text-timea {
    position: absolute;
    top: 500px;
    left: 120px;
    rotate: -119deg;
    font-size: 3rem;
    transition: var(--defaultTransition);
    z-index: 5;
}

.text-timea div:nth-child(1) {
    margin-bottom: -70px;
    margin-left: 10px;
    font-family: var(--decorativeFont);
}

.about-text {
    width: 30vw;
    margin-left: 2rem;
    z-index: 10;
}

.about-text h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: var(--defaultTransition);
}

.about-text h3 {
    font-size: 0.8rem;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: var(--defaultTransition);
}

.about-triangle { 
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 200px;
    background-color: var(--rose-pompadour);
    clip-path: polygon(65% 10%, 100% 50%, 100% 100%, 13% 100%);
    transition: var(--defaultTransition);
}

.show .about-photo {
    transform: scale(1);
    transition: var(--defaultTransition);
}

.show .about-text h1 {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
    transition-delay: .1s;
}

.show .about-text h3 {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
    transition-delay: .2s;
}


/* MINWIDTH OPTIMALIZATION FOR BIGGER DEVICES */
@media screen and (min-width: 1440px) {
    .about-photo-container:hover .photo-bck {
        transition: var(--defaultTransition);
    }

    .about-photo-container:hover {
        transform: scale(1.05);
        transition: var(--defaultTransition);
    }

    .about-triangle:hover {
        transform: scale(1.1) rotate(5deg);
        transition: var(--defaultTransition);
    }

    .show .about-photo-container {
        opacity: 1;
        transform: rotate(10deg);
        transition: all 0.5s ease-in-out;
    }
}

/* MAXWIDTH MEDIA QUERIES */
@media screen and (max-width: 1281px) {
    .about-text {
        width: 40vw;
        margin: 0 2rem 0 0;
    }

    .about-photo-container {
        opacity: 1;
        transform: scale(0.8) translate(150px, 0px);
        transition: var(--defaultTransition);
    }
}

@media screen and (max-width: 980px) {
    .about-text {
        width: 60vw;
    }

    .about-text h1 {
        font-size: 1.2rem;
    }

    .about-triangle {
        width: 250px;
        height: 180px;
    }

    .about-photo-container {
        transform: scale(0.7);
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    .about-relative-container {
        flex-direction: row-reverse;
    }

    .about-triangle {
        left: 0;
        transform: scale(-1, 1);
    }

    .about-photo-container {
        transform: translate(24vw, 5vh) scale(0.8);
        opacity: 1;
    }

    .about-text {
        position: absolute;
        top: 20vh;
        left: 0;
        width: 60vw;
        margin: unset;
        margin-left: 1rem;
    }

    .about-text h1 {
        font-size: 1.1rem;
    }

    .about-text h3 {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:480px) {
    .about-photo-container {
        max-height: 80vh;
        transform: translate(10vh, -20vh) scale(0.5);
        opacity: 1;
    }

    .text-timea {
        left: -60px;
        top: 100px;
    }

    .about-text {
        top: 40vh;
        left: 1rem;
        width: calc(100vw - 2rem);
        margin: unset;
    }

    .about-text h1 {
        width: 70vw;
        font-size: 1.2rem;
    }

    .about-text h3 {
        font-size: 0.8rem;
    }
}


/* MAXHEIGHT MEDIA QUERIES */
@media screen and (max-height: 600px) and (max-width: 570px) {
    .about-text h1 {
        font-size: 0.9rem;
    }
    .about-text h3 {
        font-size: 0.6rem;
    }
}