#about {
    background-color: var(--yellow);
    height: 100vh;

}

.about-relative-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-photo-container {
    position: relative;
    width: 600px;
    height: 650px;
    transition: var(--defaultTransition);
    opacity: 0;
}

.show .about-photo-container {
    animation: bounce-anim 1s linear ;
 }

@keyframes bounce-anim {
    0% {
        transform: rotate(-23deg);
    }
    55% {
        transform: rotate(10deg);  
    }
    75% {
        transform: rotate(-15deg);  
    }
    85% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.about-photo {
    position: absolute;
    background-image: url(../assets/IMG_6117.JPG);
    background-size: cover;
    background-position: 0px -200px;
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
    clip-path: polygon(60% 100%, 0 0, 100% 15%);
    z-index: 1;
    transform: scale(0.5);
    transition: var(--defaultTransition);
}

.photo-bck {
    position: absolute;
    top: 22px;
    left: -3px;
    width: inherit;
    height: inherit;
    background-color: var(--rose-pompadour);
    clip-path: polygon(60% 100%, 0 0, 100% 15%);
    transform: scale(1.2);
    z-index: 0;
    transition: var(--defaultTransition);
}

.about-photo-container:hover .text-timea{
    opacity: 1;
    transform: rotate(180deg);
    transition: var(--defaultTransition);
}
.about-photo-container:hover .photo-bck {
    transition: var(--defaultTransition);
}
.about-photo-container:hover {
    transform: scale(1.1);
    transition: var(--defaultTransition);
}

.about-triangle:hover {
    transform: scale(1.1);
    transition: var(--defaultTransition);
}

.text-timea {
    position: absolute;
    top: 500px;
    left: 120px;
    rotate: -119deg;
    font-size: 3rem;
    z-index: 5;
    transition: var(--defaultTransition);
    opacity: 0;
}

.text-timea div:nth-child(1) {
    font-family: var(--decorativeFont);
    margin-bottom: -70px;
    margin-left: 10px;
}

.about-text {
    width: 30vw;
    margin-left: 2rem;
    z-index: 10;
}

.about-text h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    transform: translate(0px, 50px);
    opacity: 0;
    transition: var(--defaultTransition);
}

.about-text h3 {
    font-size: 0.8rem;
    transform: translate(0px, 50px);
    opacity: 0;
    transition: var(--defaultTransition);
}

.about-triangle { 
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 0;
    right: 0;
    background-color: var(--rose-pompadour);
    clip-path: polygon(65% 10%, 100% 50%, 100% 100%, 13% 100%);
    transition: var(--defaultTransition);
}

.scroll-section.show .about-photo {
    transform: scale(1);
    transition: var(--defaultTransition);
}

.scroll-section.show .about-photo-container {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.scroll-section.show .about-text h1 {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: var(--defaultTransition);
    transition-delay: .3s;
}

.scroll-section.show .about-text h3 {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: var(--defaultTransition);
    transition-delay: .5s;
}