:root {
    --purple: #CB77DD;
    --yellow: #FFE267;
    --rose-pompadour: #F07292;
    --aquamarine: #00F5D4;
    --mauve: #FFC1FF;
    --mindaro: #C4F094;
    --indigo: #A29DFF;
    --black: #000000;
    --mainFont: 'Questrial', sans-serif;
    --decorativeFont: 'Raleway Dots', cursive;
    --scrollFont: 'Mulish', sans-serif;
    --defaultTransition: all 300ms ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    color: var(--black);
}

html {
    font-size: 25px;
    min-width: 280px;
}

body {
    font-family: var(--mainFont);
    overflow: hidden;
}

main {
    overflow: hidden;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

::selection {
    background-color: var(--rose-pompadour);
    color: var(--yellow);
}


/* SCROLL SNAP */
.scroll-container {
    scroll-snap-type: y mandatory;
    overflow: auto;
    height: 100vh;
    transition: var(--defaultTransition);
}

.scroll-section {
    scroll-snap-align: start;
}  


/* SCROLL TO EXPLORE */
.cir {
    position: absolute;
    bottom: 2%;
    right: 3%;
    width: 75px;
    height: 75px;
    /* background-color: violet; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--defaultTransition);
    z-index: 14;
}

.cir:hover {
    transform: scale(1.3);
    transition: var(--defaultTransition);
}

.cir-logo {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background-color: #FFE267; */
    border-radius: 50%;
}

.cir-text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0.5rem;
    font-family: var(--scrollFont);
    animation: rotateText 10s linear infinite;
}

.cir span:hover {
    transform: scale(1.5);
    transition: var(--defaultTransition);
}

.cir-text span {
    position: absolute;
    left: 50%;
    transform-origin: 0 37.5px;
}



/* KEYFRAMES FOR THE BASE THINGS */
@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* MINWIDTH QUERIES FOR BIGGER DEVICES */
@media  screen and (min-width:2560px) {
    html {
        font-size: 35px;
    }

    .cir {
        transform: scale(1.1);
    }
}

/* MAXWIDTH QUERIES */
@media screen and (max-width:768px) {
    .cursor {
        display: none;
    }

    .scroll-container {
        scroll-snap-type: y proximity;
    }
    
    .cir {
        bottom: 2vh;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 18px;
    }
}

