#contact {
    height: 100%;
    background-color: var(--indigo);
    /* overflow: hidden; */
}

.contact-relative-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.contact-left {
    width: 30vw;
    padding-right: 2rem;
    padding: 50px;
    text-align: right;
    opacity: 0;
    transform: translate(-50px, 0px);
    transition: var(--defaultTransition);
    z-index: 5;
}

.contact-left a {
    transition: var(--defaultTransition);
}

.contact-left a:hover {
    font-size: 2rem;
    font-weight: 600;
    color: var(--aquamarine);
    transition: var(--defaultTransition);
}

.contact-line { 
    height: 10rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translate(0px, -200px);
    transition: var(--defaultTransition);
    z-index: 1;
}

.contact-right { 
    width: 30vw;
    padding-left: 2rem;
    opacity: 0;
    transform: translate(50px, 0px);
    transition: var(--defaultTransition);
    z-index: 5;
}

.contact-triangles {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.contact-triangles div:nth-child(1) {
    position: absolute;
    width: 60vh;
    height: 50vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: var(--aquamarine);
    transform: translate(-16vh, -16vh) rotate(-21deg);
    transition: var(--defaultTransition);
}

.contact-triangles div:nth-child(1):hover {
    transform: translate(-16vh, -16vh) scale(1.1) rotate(-10deg);
    transition: var(--defaultTransition);
}

.contact-triangles div:nth-child(2) {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 0;
    right: 0;
    background-color: var(--aquamarine);
    clip-path: polygon(65% 10%, 100% 50%, 100% 100%, 13% 100%);
    transition: var(--defaultTransition);
}

.contact-triangles div:nth-child(2):hover {
    transform: scale(1.1) rotate(5deg);
    transition: var(--defaultTransition);
}

.contact-mail {
    position: absolute;
    bottom: 30%;
    padding: 10px 30px 10px 30px;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: var(--defaultTransition);
    z-index: 13;
}

.contact-mail a {
    position: relative;
    z-index: 15;
}

.contact-mail::before {
    position: absolute;
    left: 2.5px;
    bottom: -2.5px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: var(--aquamarine);
    border: 1px solid #000;
    content: "";
    transition: var(--defaultTransition);
    z-index: 2;
}

.contact-mail:hover::before {
    transform: translate(-2.5px, -2.5px);
    transition: var(--defaultTransition);
}

.contact-mail::after {
    position: absolute;
    left: -2.5px;
    bottom: 2.5px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: var(--indigo);
    border: 1px solid #000;
    content: "";
    transition: var(--defaultTransition);
    z-index: 2;
}

.contact-mail:hover::after {
    transform: translate(2.5px, 2.5px);
    transition: var(--defaultTransition);
}

.contact-text { 
    position: absolute;
    bottom: 15%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate(0px, 150px);
    transition: var(--defaultTransition);
    z-index: 10;
}

.contact-text a {
    font-size: 0.5rem;
    z-index: 10;
    transition: var(--defaultTransition);
}

.contact-text a:hover {
    font-size: 4rem;
    cursor: pointer;
    color: var(--aquamarine);
    text-shadow: 10px 10px 20px var(--indigo);
    transition: var(--defaultTransition);
}

.footer {
    position: absolute;
    font-size: 0.5rem;
    bottom: 5%;
    z-index: 10;
}

.show .contact-mail {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
    transition-delay: 0.3s;
}

.show .contact-line {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
    transition-delay: 0.2s;
}

.show .contact-right {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
}

.show .contact-left {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
}

.show .contact-text {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
    transition-delay: 0.2s;
}


/* MINWIDTH MEDIA QUERIES */
@media screen and (min-width: 769px) {
    .contact-circle {
        position: absolute;
        height: 4rem;
        width: 4rem;
        background-color: var(--aquamarine);
        opacity: 0;
        transition: var(--defaultTransition);
        animation: circle-1 8s ease-in-out infinite alternate;
        z-index: 0;
    }

    .show .contact-circle {
        opacity: 1;
        transition: var(--defaultTransition);
    }
}


/* MAXWIDTH MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .contact-relative-container {
        padding-left: 5rem;
    }
    
    .contact-left h1 {
        font-size: 1rem;
    }

    .contact-left h3 {
        font-size: 0.8rem;
    }

    .contact-text a:hover {
        font-size: 2.9rem;
    }
}

@media screen and (max-width: 768px) {
    #contact,
    .contact-relative-container {
        overflow: hidden;
    }

    .show .contact-line  {
        display: none;
    }

    .contact-relative-container {
            flex-direction: column-reverse;
            padding: 0;
        }

    .contact-circle {
        position: absolute;
        height: 4rem;
        width: 4rem;
        background-color: var(--aquamarine);
        opacity: 1;
        transition: var(--defaultTransition);
        animation: circle-1 8s ease-in-out infinite alternate;
        z-index: 0;
    }
    
    .contact-left {
        width: 90vw;
        padding: 0;
        margin: 1rem;
        text-align: left;        
    }

    .contact-left h1 {
        display: none;
    }

    .contact-right {
        width: 90vw;
        text-align: center;
        padding: 0;
    }

    .contact-mail {
        bottom: 20vh;
        z-index: 14;
    }

    .contact-text {
        position: unset;
    }

    .contact-text a {
        font-size: 0.6rem;
        color: var(--black);
        background-color: var(--aquamarine);
    }
}


/* MAXHEIGHT MEDIA QUERIES */
@media screen and (max-height: 600px) {
    .contact-mail {
        bottom: 15%;
    }

    .contact-line {
        height: 5rem;
    }
}


/* KEYFRAMES FOR CONTACT */
@keyframes circle-1 {
    0% {
        border-radius: 0%;
        top: 10vh;
    }
    10% {
        border-radius: 50%;
        top: 75vh;
    }
    30% {
        border-radius: 0%;
        top: 20vh;
    }
    40% {
        border-radius: 50%;
        top: 80vh;
    }
    70% {
        border-radius: 0%;
        top: 40vh;
    }
    85% {
        border-radius: 50%;
        top: 85vh;
    }
    100% {
        border-radius: 50%;
        top: 70vh;
        transform: rotate(360deg);
    }
}