#contact {
    height: 100vh;
    /* background: linear-gradient(
        to right, var(--indigo), var(--yellow), var(--rose-pompadour));
    background-size: 400% 400%;
    animation: animate-background 20s infinite ease-in-out; */
    background-color: var(--indigo);
}

/* @keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
} */

.contact-relative-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-left {
    width: 30vw;
    text-align: right;
    padding-right: 2rem;
    z-index: 5;
}

.contact-left a {
    transition: var(--defaultTransition);
}

.contact-left a:hover {
    font-size: 2rem;
    font-weight: 600;
    transition: var(--defaultTransition);
    color: var(--aquamarine);
}

.contact-circle {
    position: absolute;
    height: 4rem;
    width: 4rem;
    background-color: var(--aquamarine);
    z-index: 0;
    animation: circle-1 8s ease-in-out infinite alternate;
    opacity: 0;
    transition: var(--defaultTransition);
}

.show .contact-circle {
    opacity: 1;
    transition: var(--defaultTransition);
}

@keyframes circle-1 {
    0% {
        border-radius: 0%;
        top: 10%;
    }
    10% {
        border-radius: 50%;
        top: 75%;
    }
    30% {
        border-radius: 0%;
        top: 20%;
    }
    40% {
        border-radius: 50%;
        top: 80%;
    }
    70% {
        border-radius: 0%;
        top: 40%;
    }
    85% {
        border-radius: 50%;
        top: 85%;
    }
    100% {
        border-radius: 50%;
        top: 70%;
        transform: rotate(360deg);
    }
}

.contact-line { 
    height: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    animation: line-ani 3s ease-in-out infinite alternate;
    z-index: 1;
}

@keyframes line-ani {
    100% { 
        height: 7rem;
    }
}

.contact-right { 
    width: 30vw;
    padding-left: 2rem;
    z-index: 5;
}

.contact-triangles {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.contact-triangles div:nth-child(1) {
    position: absolute;
    width: 250px;
    height: 200px;
    clip-path: polygon(25% 0, 73% 0, 91% 86%, 0 66%, 0 37%);
    background: var(--aquamarine);
}

.contact-triangles div:nth-child(2) {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 0;
    right: 0;
    background-color: var(--aquamarine);
    clip-path: polygon(65% 10%, 100% 50%, 100% 100%, 13% 100%);
    transition: var(--defaultTransition);
}

.contact-triangles div:nth-child(2):hover {
    transform: scale(1.1);
    transition: var(--defaultTransition);
}

.contact-mail {
    position: absolute;
    bottom: 30%;
    padding: 10px 30px 10px 30px;
}

.contact-mail a {
    position: relative;
    z-index: 3;
}

.contact-mail::before {
    background-color: var(--aquamarine);
    border: 1px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 2.5px;
    bottom: -2.5px;
    z-index: 2;
    transition: var(--defaultTransition);
}

.contact-mail:hover::before {
    transform: translate(-2.5px, -2.5px);
    transition: var(--defaultTransition);
}

.contact-mail::after {
    background-color: var(--indigo);
    border: 1px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: -2.5px;
    bottom: 2.5px;
    z-index: 2;
    transition: var(--defaultTransition);
}

.contact-mail:hover::after {
    transform: translate(2.5px, 2.5px);
    transition: var(--defaultTransition);
}

.contact-text { 
    position: absolute;
    bottom: 15%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text a {
    font-size: 0.5rem;
    z-index: 10;
    transition: var(--defaultTransition);
}

.contact-text a:hover {
    font-size: 5rem;
    transition: var(--defaultTransition);
    color: var(--aquamarine);
    cursor: pointer;
    /* font-weight: 800; */
    text-shadow: 20px 20px 30px #00000052;
}

.footer {
    position: absolute;
    font-size: 0.5rem;
    bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .contact-relative-container {
        padding-left: 5rem;
    }
    .contact-left h1 {
        font-size: 1rem;
    }
    .contact-left h3 {
        font-size: 0.8rem;
    }
}

