#contact {
    height: 100%;
    /* background: linear-gradient(
        to right, var(--indigo), var(--yellow), var(--rose-pompadour));
    background-size: 400% 400%;
    animation: animate-background 20s infinite ease-in-out; */
    background-color: var(--indigo);
}

/* @keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
} */

.contact-relative-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-left {
    width: 30vw;
    text-align: right;
    padding-right: 2rem;
    padding: 50px;
    z-index: 5;
    opacity: 0;
    transform: translate(-50px, 0px);
    transition: var(--defaultTransition);
}

.contact-left a {
    transition: var(--defaultTransition);
}

.contact-left a:hover {
    font-size: 2rem;
    font-weight: 600;
    transition: var(--defaultTransition);
    color: var(--aquamarine);
}

.contact-line { 
    height: 10rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 1;
    transform: translate(0px, -200px);
    opacity: 0;
    transition: var(--defaultTransition);
}

.contact-right { 
    width: 30vw;
    padding-left: 2rem;
    z-index: 5;
    opacity: 0;
    transform: translate(50px, 0px);
    transition: var(--defaultTransition);
}

.contact-triangles {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.contact-triangles div:nth-child(1) {
    position: absolute;
    width: 40vh;
    height: 30vh;
    clip-path: polygon(25% 0, 73% 0, 91% 86%, 0 66%, 0 37%);
    background: var(--aquamarine);
    transition: var(--defaultTransition);
}

.contact-triangles div:nth-child(1):hover {
    transform: scale(1.1);
    transition: var(--defaultTransition);
}

.contact-triangles div:nth-child(2) {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 0;
    right: 0;
    background-color: var(--aquamarine);
    clip-path: polygon(65% 10%, 100% 50%, 100% 100%, 13% 100%);
    transition: var(--defaultTransition);
}

.contact-triangles div:nth-child(2):hover {
    transform: scale(1.1);
    transition: var(--defaultTransition);
}

.contact-mail {
    position: absolute;
    bottom: 30%;
    padding: 10px 30px 10px 30px;
    transform: translate(0px, 50px);
    opacity: 0;
    transition: var(--defaultTransition);
    z-index: 13;
}

.contact-mail a {
    position: relative;
    z-index: 15;
}

.contact-mail::before {
    background-color: var(--aquamarine);
    border: 1px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 2.5px;
    bottom: -2.5px;
    z-index: 2;
    transition: var(--defaultTransition);
}

.contact-mail:hover::before {
    transform: translate(-2.5px, -2.5px);
    transition: var(--defaultTransition);
}

.contact-mail::after {
    background-color: var(--indigo);
    border: 1px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: -2.5px;
    bottom: 2.5px;
    z-index: 2;
    transition: var(--defaultTransition);
}

.contact-mail:hover::after {
    transform: translate(2.5px, 2.5px);
    transition: var(--defaultTransition);
}

.contact-text { 
    position: absolute;
    bottom: 15%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    transform: translate(0px, 150px);
    transition: var(--defaultTransition);
}

.contact-text a {
    font-size: 0.5rem;
    z-index: 10;
    transition: var(--defaultTransition);
}

.contact-text a:hover {
    font-size: 4rem;
    transition: var(--defaultTransition);
    color: var(--aquamarine);
    cursor: pointer;
    /* font-weight: 800; */
    text-shadow: 10px 10px 20px var(--indigo);
}

.footer {
    position: absolute;
    font-size: 0.5rem;
    bottom: 10px;
    z-index: 10;
}

.show .contact-mail {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: var(--defaultTransition);
    transition-delay: 0.3s;
}

.show .contact-line {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: var(--defaultTransition);
    transition-delay: 0.2s;
}

.show .contact-right {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: var(--defaultTransition);
}

.show .contact-left {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: var(--defaultTransition);
}

.show .contact-text {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: var(--defaultTransition);
    transition-delay: 0.2s;
}

@media screen and (min-width: 1440px) {
.contact-circle {
    position: absolute;
    height: 4rem;
    width: 4rem;
    background-color: var(--aquamarine);
    z-index: 0;
    animation: circle-1 8s ease-in-out infinite alternate;
    opacity: 0;
    transition: var(--defaultTransition);
}

.show .contact-circle {
    opacity: 1;
    transition: var(--defaultTransition);
}

@keyframes circle-1 {
    0% {
        border-radius: 0%;
        top: 10vh;
    }
    10% {
        border-radius: 50%;
        top: 75vh;
    }
    30% {
        border-radius: 0%;
        top: 20vh;
    }
    40% {
        border-radius: 50%;
        top: 80vh;
    }
    70% {
        border-radius: 0%;
        top: 40vh;
    }
    85% {
        border-radius: 50%;
        top: 85vh;
    }
    100% {
        border-radius: 50%;
        top: 70vh;
        transform: rotate(360deg);
    }
}

}

@media screen and (max-width: 1024px) {
    .contact-relative-container {
        padding-left: 5rem;
    }
    .contact-left h1 {
        font-size: 1rem;
    }
    .contact-left h3 {
        font-size: 0.8rem;
    }
    .contact-text a:hover {
        font-size: 2.9rem;
    }
}

@media screen and (max-height: 700px) {
    .contact-text {
        bottom: 10%;
    }
}

@media screen and (max-width: 768px) {
    .show .contact-line  {
        animation: unset;
        transform: rotate(90deg);
        height: 90vw;
        display: none;
    }
    .contact-circle {
        animation: unset;
    }
    .contact-relative-container {
        flex-direction: column-reverse;
        padding: 0;
    }
    .contact-left {
        width: 90vw;
        text-align: left;
        
        padding: 0;
        margin: 1rem;
    }
    .contact-left h1 {
        display: none;
    }
    .contact-right {
        width: 90vw;
        text-align: center;
        padding: 0;
    }
    .contact-mail {
        bottom: 10vh;
        z-index: 14;
    }
    .contact-text {
        position: unset;
    }
    .contact-text a {
        background-color: var(--aquamarine);
        font-size: 0.6rem;
        color: var(--black);
    }
}

