.header {
    position: fixed;
    height: 100vh;
    width: 50px;
    z-index: 15;
}

.logo {
    font-size: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.name {
    font-size: 0.8rem;
    width: 300px;
    padding-left: 2rem;
}

.nav-list {
    position: absolute;
    top: calc(50vh - 50%);
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}

.nav-list-a {
    font-size: 1.2rem;
    padding-left: 2rem;
    opacity: 0.5;
    transition: var(--defaultTransition);
}

.line-1 {
    position: absolute;
    top: calc(50% - 100px);
    left: 0;
    width: 15rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.line-2 {
    position: absolute;
    top: calc(50% + 100px);
    left: 0;
    width: 15rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.nav-list-a:hover {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5rem;
    opacity: 1;
    transition: var(--defaultTransition);
}

.show-section {
    font-size: 1.5rem;
    opacity: 1;
    transition: var(--defaultTransition);
}

/* OBSERVER RELATED */
.nav-list-a.scale {
    font-size: 1.5rem;
    opacity: 1;
    transition: var(--defaultTransition);
}

/* RESPO MENU */
.toggle-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 35px;
    height: 17px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    height: 1px;
    background-color: var(--black);
    transition: all .05s linear;
}

/* MAXWIDTH MEDIA QUERIES */
@media screen and (max-width: 1280px) {
    .nav-list-a {
        font-size: 1rem;
    }

    .nav-list-a:hover {
        font-size: 1.1rem;
    }

    .nav-list-a.scale {
        font-size: 1.1rem;
    }

    .line-1 {
        width: 10rem;
    }

    .line-2 {
        width: 10rem;
    }
}

@media screen and (max-width: 960px) {
    .nav-list-a {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .active ~ .nav-list li {
        transition-delay: 0.5s;
    }

    .header {
        width: 100vw;
        height: unset;
    }
    
    .toggle-button {
        display: flex;
        z-index: 21;
    }

    .toggle-button.open > .bar:nth-child(1) {
        transform: rotate(45deg); 
        translate: 0px 7px;
        transition: all .05s linear;
    }

    .toggle-button.open > .bar:nth-child(2) {
        opacity: 0;
        transition: all .05s linear;
    }

    .toggle-button.open > .bar:nth-child(3) {
        transform: rotate(-45deg); 
        translate: 0px -7px;
        transition: all .05s linear;
    }

    .line-1, .line-2 {
        opacity: 0;
    }

    .mobile-job {
        bottom: 1rem;
        width: 100%;
        height: 2rem;
        padding: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        text-align: center;
        background: var(--yellow);
        border: unset;
        transform: scale(0);
        transition: var(--defaultTransition);
        z-index: 18;
        white-space: break-spaces;
    } 

    .active .mobile-job {
        margin-top: 2rem;
        transform: scale(1);
        transition: var(--defaultTransition);
        transition-delay: 0.2s;
    }
    
    .nav-list {
        transform: scale(0);
        transition: all 0.3s linear;
    }

    .nav-list li {
        margin: 0.1rem;
    }    

    .nav-list-a {
        display: flex;
        justify-content: center;
        width: 310px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        font-size: 1.3rem;
        opacity: 1;
        background-color: var(--mindaro);
    }

    .nav-list-a.scale {
        font-size: 1.3rem;
        background-color: var(--yellow);
    }

    .nav-list.active {        
        top: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--indigo);
        opacity: 1;
        transform: scale(1);
        transition: var(--defaultTransition);
        z-index: 17;
    }
    
    .logo {
        position: absolute;
        top: 1rem;
        right: 0;
        width: 100px;
        padding: unset;     
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 18;
    }

    .name {
        position: absolute;
        top: 3rem;
        right: 0;
        width: unset;
        padding: unset;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
    }
}

/* MAXHEIGHT MEDIA QUERIES */
@media screen and (max-height: 600px) {
    .line-1 {
        top: calc(50% - 75px);
    }

    .line-2 {
        top: calc(50% + 75px);
    }

    .name {
        font-size: 0.6rem;
    }
}

/* MINWIDTH QUERIES FOR BIGGER DEVICES */
@media screen and (min-width:2560px) {
    .line-1 {
        top: calc(50% - 150px);
    }
    .line-2 {
        top: calc(50% + 150px);
    }
}

/* MIXED MEDIA QUERIES */
@media only screen and (max-width:768px) and (max-height: 550px) {
    .nav-list-a {
        font-size: 0.8rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}