#main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--purple);
    overflow: hidden;
}

.main-relative-container {
    position: relative;
    top: 0px;
    right: 0px;
    height: 25vh;
    padding-top: 2rem;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}

.hello-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 5;
}

.hello-container h2 {
    font-size: 1.3rem;
    opacity: 0;
    text-align: right;
    transform: translate(0px, 50px);  
    transition: var(--defaultTransition);
}

.hello-container h1 {
    font-size: 2rem;
    opacity: 0;
    padding-bottom: 10px;
    transform: translate(0px, 50px);
    transition: var(--defaultTransition);
}

.lets-talk {
    position: relative;
    padding: 10px;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: var(--defaultTransition);
    z-index: 5;
}

.lets-talk::before {
    position: absolute;
    left: 2.5px;
    bottom: -2.5px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: var(--yellow);
    border: 1px solid #000;
    content: "";
    transition: var(--defaultTransition);
    z-index: -1;
}

.lets-talk:hover::before {
    transform: translate(-2.5px, -2.5px);
    transition: var(--defaultTransition);
}

.lets-talk::after {
    position: absolute;
    left: -2.5px;
    bottom: 2.5px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: var(--purple);
    border: 1px solid #000;
    content: "";
    transition: var(--defaultTransition);
    z-index: -1;
}

.lets-talk:hover::after {
    transform: translate(2.5px, 2.5px);
    transition: var(--defaultTransition);
}

.main-content {
    width: 40vw;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    font-size: 0.8rem;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: var(--defaultTransition);
    z-index: 5;
}

.main-pic {
    position: absolute;
    top: 130px;
    width: 60vw;
    height: 50vh;
    rotate: -30deg;
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
}

.infinite-job {
    position: fixed;
    overflow: hidden;
    left: 0;
    bottom: 1rem;
    height: 0.5rem;
    width: 15rem;
    font-size: 0.5rem;
    opacity: 1;
    transition: var(--defaultTransition);
    transform: translate(0, calc(-50vh + 6rem));
    z-index: 16;
}

.main-job {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 50%;
    display: inline-block;
    white-space: nowrap;
    animation: infinitetext 20s linear infinite;
    animation-delay: -5s;
}

.main-job2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 50%;
    display: inline-block;
    white-space: nowrap;
    transform: translate(50%, 0);
    animation: infinitetext 20s linear infinite;
    animation-delay: 5s;
}

.infinite-job:hover {
    cursor: default;
    transform: translate(0, calc(-50vh + 6rem));
    background-color: var(--yellow);
}

.show-job {
    opacity: 0;
    /* transform: matrix(1, 0, 0, 1, -250, 1); */
    transition: var(--defaultTransition);
}

.main-triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.main-triangles :nth-child(1) {
    position: absolute;
    width: 70vh;
    height: 40vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: var(--yellow);
    transform: translate(-16vh, -16vh) rotate(-21deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.main-triangles :nth-child(1):hover {
    transform: translate(-16vh, -16vh) rotate(-10deg) scale(1.1);
    transition: var(--defaultTransition);
}

.main-triangles :nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70vh;
    height: 25vh;
    background: var(--yellow);
    clip-path: polygon(61% 50%, 100% 0, 100% 100%, 81% 100%);
    transition: var(--defaultTransition);
    z-index: 1;
}

.main-triangles :nth-child(2):hover {
    width: 52vh;
    height: 27vh;
    transition: var(--defaultTransition);
}

.show .main-content {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
    transition-delay: .2s;
}

.show .hello-container h1 {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
    transition-delay: .1s;
}

.show .hello-container h2 {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
}

.show .lets-talk {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
    transition-delay: .2;
}

/* MAXWIDTH MEDIA QUERIES */
@media screen and (max-width: 1280px) {
    .infinite-job {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .infinite-job {
        display: none;
    }

    .main-triangles div:nth-child(1) {
        display: none;
    }

    .main-relative-container {
        height: 100vh;
        padding: unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .main-pic {
        top: 80px;
        left: 0px;
        rotate: 22deg;
    }

    .hello-container {
        width: 100vw;
        margin-top: 30vh;
        padding: 1rem;
        flex-direction: column;
    }

    .hello-container h1 {
        font-size: 0.7rem;
    }

    .main-content {
        width: 100vw;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0;
        padding-top: 0;
        font-size: 0.8rem;
    }
}

/* MINWIDTH MEDIA QUERIES */
@media screen and (min-width: 769px) {
    .mobile-job {
        display: none;
    }
}


/* MAXHEIGHT MEDIA QUERIES */
@media screen and (max-height: 600px) {
    .main-content {
        font-size: 0.7rem;
    }
}


/* KEYFRAMES FOR MAIN */
@keyframes infinitetext {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
    
}