#main {
    height: 100vh;
    width: 100vw;
    background-color: var(--purple);
}

.main-relative-container {
    position: relative;
    top: 0px;
    right: 0px;
    height: 25vh;
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    z-index: 5;
}

.hello-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 30vw;
    z-index: 5;
}

.hello-container h2 {
    font-size: 1.3rem;
}

.hello-container h1 {
    font-size: 2rem;
    padding-bottom: 10px;
}

.lets-talk {
    position: relative;
    padding: 10px;
    z-index: 5;
}
.lets-talk::before {
    background-color: var(--yellow);
    border: 1px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 2.5px;
    bottom: -2.5px;
    z-index: -1;
    transition: var(--defaultTransition);
}

.lets-talk:hover::before {
    transform: translate(-2.5px, -2.5px);
    transition: var(--defaultTransition);
}

.lets-talk::after {
    background-color: var(--purple);
    border: 1px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: -2.5px;
    bottom: 2.5px;
    z-index: -1;
    transition: var(--defaultTransition);
}

.lets-talk:hover::after {
    transform: translate(2.5px, 2.5px);
    transition: var(--defaultTransition);
}

.main-content {
    display: flex;
    align-items: flex-end;
    width: 40vw;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.8rem;
    z-index: 5;
    transform: translate(50px, 0px);
    opacity: 0;
    transition: var(--defaultTransition);
}

.main-pic {
    position: absolute;
    top: 130px;
    rotate: -30deg;
    background-image: url(../assets/Eszköz\ 1@4x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60vw;
    height: 50vh;
    z-index: 3;
}

.main-job {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    width: 140px;
    bottom: 2rem;
    font-size: 0.5rem;
    opacity: 0;
    z-index: 5;
    transform: matrix(1, 0, 0, 1, -250, 1);
    transition: var(--defaultTransition);
}

.show-job {
    opacity: 1;
    transition: var(--defaultTransition);
    transform: matrix(1, 0, 0, 1, 0, 1)
}

.main-triangles {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.main-triangles :nth-child(1) {
    position: absolute;
    top: 30%;
    width: 850px;
    height: 450px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: var(--yellow);
    transform: matrix(0.41, -0.91, -0.91, -0.41, -140, -400);
    z-index: 1;
}

.main-triangles :nth-child(2) {
    position: absolute;
    width: 450px;
    height: 200px;
    bottom: 0;
    right: 0;
    background: var(--yellow);
    clip-path: polygon(61% 50%, 100% 0, 100% 100%, 81% 100%);
    z-index: 1;
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
    z-index: 25;
    
    transform: translate(-50%, -50%);
}

.cursor.grow {
    width: 75px;
    height: 75px;
    transition: width 0.5s, height 0.5s;
}

.scroll-section.show .main-content {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: var(--defaultTransition);
}
