#portfolio {
    background-color: var(--mindaro);
    height: 100vh;
    /* overflow: hidden; */
}

.portfolio-relative-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    /* overflow: hidden; */
}

.port-title {
    padding-right: 2rem;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    z-index: 10;
}

.port-table {
    padding: 50px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.port-table div {
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 0.8rem;
    transition: var(--defaultTransition);
}

.port-row {
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
    transition: var(--defaultTransition);
}

.port-row:hover {
    background-color: var(--mauve);
    transition: var(--defaultTransition);
    cursor: pointer;
}

.port-row:hover div {
    font-size: 0.85rem;
    transition: var(--defaultTransition);
}

.port-row div:nth-child(1) {
    width: 100px;
    text-align: right;
}

.port-row div:nth-child(2) {
    width: 300px;
}

.port-row div:nth-child(3) {
    width: 300px;
}

.port-triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.port-triangles div:nth-child(1) {
    position: absolute;
    width: 70vh;
    height: 40vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: var(--mauve);
    transform: translate(-16vh, -16vh) rotate(-21deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.port-triangles :nth-child(1):hover {
    transform: translate(-16vh, -16vh) rotate(-10deg) scale(1.1);
    transition: var(--defaultTransition);
}

.port-triangles div:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40vh;
    height: 30vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: var(--mauve);
    transform: rotate(75deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.port-triangles div:nth-child(2):hover {
    transform: rotate(60deg) scale(1.1);
    transition: var(--defaultTransition);
}


/* MAXWIDTH MEDIA QUERIES */
@media screen and (max-width: 768px) {
    #portfolio,
    .portfolio-relative-container {
        overflow: hidden;
    }

    .portfolio-relative-container {
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    .port-title {
        font-size: 1.1rem;
        border-bottom: unset;
        margin: unset;
        padding: unset;
        margin: 5px;
    }

    .port-table {
        height: 70vh;
        width: 100vw;
        padding: unset;
        margin-bottom: 1rem;
        justify-content: space-evenly;
    }

    .port-table div {
        padding: unset;
    }

    .port-row {
        height: inherit;
        /* padding: unset; */
        display: flex;
        align-items: center;
        border-top: 1px solid #000;
    }

    .port-row div { 
        font-size: 0.7rem;
    }

    .port-row div:nth-child(1) {
        padding-right: 5px;
    }

} 



/**/