#portfolio {
    background-color: var(--mindaro);
    height: 100vh;
    /* overflow: hidden; */
}

.portfolio-relative-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    /* overflow: hidden; */
}

.port-title {
    width: 70vw;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    opacity: 0;
    transform: translate(50px, 0px);
    z-index: 10;
}

.show .port-title {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1s ease-in-out;
}

.port-table {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.port-table div {
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 0.8rem;
    transition: var(--defaultTransition);
}

.port-row {
    display: flex;
    flex-direction: row;
    opacity: 0;
    transform: translate(50px, 0px);
    transition: var(--defaultTransition);
}

.port-row:hover div {
    font-size: 0.85rem;
    background-color: var(--mauve);
    transition: var(--defaultTransition);
}

.port-row div:nth-child(1) {
    width: 5vw;
    text-align: right;
}

.port-row div:nth-child(2) {
    width: 30vw;
}

.port-row div:nth-child(3) {
    width: 35vw;
}

.show .port-row {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
}

.show .port-row:nth-child(1) {
    transition-delay: 0.1s;
}

.show .port-row:nth-child(2) {
    transition-delay: 0.2s;
}

.show .port-row:nth-child(3) {
    transition-delay: 0.3s;
}

.show .port-row:nth-child(4) {
    transition-delay: 0.4s;
}

.show .port-row:nth-child(5) {
    transition-delay: 0.5s;
}

.show .port-row:nth-child(6) {
    transition-delay: 0.6s;
}

.show .port-row:nth-child(7) {
    transition-delay: 0.7s;
}

.show .port-row:nth-child(8) {
    transition-delay: 0.8s;
}

.show .port-row:nth-child(9) {
    transition-delay: 0.9s;
}

.show .port-row:nth-child(10) {
    transition-delay: 1s;
}

.port-triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.port-triangles div:nth-child(1) {
    position: absolute;
    width: 70vh;
    height: 40vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: var(--mauve);
    transform: translate(-16vh, -16vh) rotate(-21deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.port-triangles :nth-child(1):hover {
    transform: translate(-16vh, -16vh) rotate(-10deg) scale(1.1);
    transition: var(--defaultTransition);
}

.port-triangles div:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40vh;
    height: 30vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: var(--mauve);
    transform: rotate(75deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.port-triangles div:nth-child(2):hover {
    transform: rotate(60deg) scale(1.1);
    transition: var(--defaultTransition);
}



/* MAXWIDTH MEDIA QUERIES */
@media screen and (max-width: 768px) {
    #portfolio,
    .portfolio-relative-container {
        overflow: hidden;
    }

    .portfolio-relative-container {
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    .port-title {
        font-size: 1.1rem;
        border-bottom: unset;
        margin: unset;
        padding: unset;
        margin: 5px;
    }

    .port-table {
        height: 70vh;
        width: 100vw;
        padding: unset;
        margin-bottom: 1rem;
        justify-content: space-evenly;
    }

    .port-table div {
        padding: unset;
    }

    .port-row {
        height: inherit;
        /* padding: unset; */
        display: flex;
        align-items: center;
        border-top: 1px solid #000;
    }

    .port-row div { 
        font-size: 0.7rem;
    }

    .port-row div:nth-child(1) {
        padding-right: 5px;
    }

} 



/**/