#services {
    background-color: var(--aquamarine);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.services-relative-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.services-list {
    width: 30vw;
    margin-left: 65%;
    font-size: 1.8rem;
    opacity: 0;
    transition: var(--defaultTransition);
    transform: translate(50px, 0px);
    z-index: 10;
}

.show .services-list {
    opacity: 0.5;
    
    transform: var(--defaultTransition);
    transform: translate(0px, 0px);
}
.services-list:hover {
    font-size: 2rem;
    opacity: 1;
    transition: var(--defaultTransition);
    cursor: default;
}

.services-text {
    font-size: 0.8rem;
    text-align: right;
    transition: var(--defaultTransition);
    z-index: 5;
}

.services-text div {
    opacity: 0;
    transform: translate(-50px, 0px);
    transition: var(--defaultTransition);
    position: absolute;
    top: calc(50% - 30vh);
    left: calc(50% - 15vw);
    width: 30vw;
    height: 60vh;
    display: flex;
    align-items: center;
}

.colored-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    transition: var(--defaultTransition);
}

.services-list:nth-of-type(1):hover ~ .services-text div:nth-child(1)  {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(1):hover ~ .dotted-background span {
    background-color: var(--mindaro);
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(1):hover ~ .services-triangle {
    background-color: var(--mindaro);
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(1):hover ~ .colored-background {
    background-color: var(--mauve);
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(2):hover ~ .services-text div:nth-child(2)  {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(2):hover ~ .dotted-background span {
    background-color: #80C36F;
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(2):hover ~ .services-triangle {
    background-color: #80C36F;
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(2):hover ~ .colored-background {
    background-color: var(--yellow);
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(3):hover ~ .services-text div:nth-child(3)  {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(3):hover ~ .dotted-background span {
    background-color: var(--aquamarine);
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(3):hover ~ .services-triangle {
    background-color: var(--aquamarine);
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(3):hover ~ .colored-background {
    background-color: var(--indigo);
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(4):hover ~ .services-text div:nth-child(4)  {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
}
.services-list:nth-of-type(4):hover ~ .dotted-background span {
    background-color: #C4F094;
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(4):hover ~ .services-triangle {
    background-color: #C4F094;
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(4):hover ~ .colored-background {
    background-color: #FFAF7D;
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(5):hover ~ .services-text div:nth-child(5)  {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
}
.services-list:nth-of-type(5):hover ~ .dotted-background span {
    background-color: #FFAF7D;
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(5):hover ~ .services-triangle {
    background-color: #FFAF7D;
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(5):hover ~ .colored-background {
    background-color: var(--purple);
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(6):hover ~ .services-text div:nth-child(6)  {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: var(--defaultTransition);
}
.services-list:nth-of-type(6):hover ~ .dotted-background span {
    background-color: #7EBDC2;
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(6):hover ~ .services-triangle {
    background-color: #7EBDC2;
    transition: var(--defaultTransition);
} 
.services-list:nth-of-type(6):hover ~ .colored-background {
    background-color: #FFCC33;
    transition: var(--defaultTransition);
} 

.services-triangle {
    position: absolute;
    right: 10vh;
    top: 13%;
    width: 80vh;
    height: 80vh;
    background-color: var(--yellow);
    clip-path: polygon(100% 9%, 0 0, 82% 100%);
    z-index: 4;
    transition: all 1000ms ease-out;
}

.dotted-background { 
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    width: 20vw;
    z-index: 2;
    right: 15%;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.row span {
    height: 3vh;
    width: 3vh;
    padding-right: 5px;
    border-radius: 100%;
    background-color: var(--yellow);
    transition: all 1000ms ease-out;
    z-index: 3;
}

span:hover {
    background-color: var(--rose-pompadour);
    /* box-shadow: 0px 0px 40px 5px var(--rose-pompadour); */
    transition: all 100ms ease-in;
    transform: scale(2);
}

.hover-me {
    position: absolute;
    padding: 0.5rem;
    right: 28vh;
    top: 75%;
    rotate: 50deg;
    font-size: 0.6rem;
    z-index: 10;
    transition: var(--defaultTransition);
    cursor: default;
}

.hover-me:hover {
    transform: rotate(360deg);
    color: var(--yellow);
}

.hover-me:hover ~ .services-triangle  {
    background-color: var(--rose-pompadour);
    transform: scale(0.85);
    transition: var(--defaultTransition);
}

.service-click {
    display: none;
}

@media screen and (max-width: 1280px) {
    .services-list {
        font-size: 1.2rem;
        padding: 2.5px;
    }
    .services-list:hover {
        font-size: 1.5rem;
    }
    .dotted-background {
        right: 0;
        width: 30vw;
    }
    /* .hover-me {
        right: 13%;
        rotate: 59deg;
    } */
    .row {
        width: auto;
    }
    .services-text div {
        left: calc(50% - 14vw);
    }
}

@media screen and (max-width: 1080px) {
    .services-list {
        margin-left: 70%;
    }  
    .services-list:hover {
        font-size: 1.3rem;
    }
    .services-text {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:768px) {
    .hover-me {
        display: none;
    }
    .dotted-background {
        left: 50%;
    }
    .services-triangle {
        right: unset;
    }
    .services-list {
        font-size: 0.8rem;
    }
    .services-list:hover {
        font-size: 1rem;
    }
    /* .services-text {
        height: 60vh;
        width: 100vw;
    }
    .services-text:hover ~ .colored-background {
        background: linear-gradient(
            to right, var(--mindaro), var(--aquamarine), var(--indigo));
        background-size: 400% 400%;
        animation: animate-background 6s infinite ease-in-out;
    } */

    .services-text div {
        width: 60vw;
        left: 1rem;
    }

    .service-click {
        display: block;
        position: absolute;
        top: 90vh;
        left: 1rem;
        text-align: left;
        z-index: 14;
        font-size: 0.5rem;
        transition: var(--defaultTransition);
    }
    .service-click:hover {
        background-color: var(--rose-pompadour);
        transform: translate(0, -75vh) scale(1.3);
        padding: 5px;
        transition: var(--defaultTransition);
    }
    .services-triangle:hover {
        background-color: var(--rose-pompadour);
        transform: scale(0.85);
        transition: var(--defaultTransition);
    }
    .services-triangle:hover ~ .colored-background {
        background: linear-gradient(
            to right, var(--mindaro), var(--aquamarine), var(--indigo));
        background-size: 400% 400%;
        animation: animate-background 6s infinite ease-in-out;
    }
    @keyframes animate-background {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }

    .colored-background:hover {
        background-color: #fff;
    }
}

@media screen and (max-width:480px) {
    .services-relative-container {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .service-click:hover {
        transform: translate(calc(50vw + 2rem), -70vh) scale(1.3);
    }
    .services-list {
        margin-left: 1rem;
        padding: unset;
        width: 60vw;
    }
    .show .services-list {
        font-size: 1.1rem;
        opacity: 1;
    }
    .show .services-list:hover {
        font-size: 1.5rem;
    }
    .services-list:nth-of-type(2) {
        margin-top: 5rem;
    }
    .services-triangle {
        top: 8%;
        right: -13%;
    }
    .services-text div {
        top: 13rem;
        left: 0;
        transform: translate(-100vh, 0px);
        width: 100vw;
        padding: 1rem;
        font-size: 0.8rem;
        align-items: flex-start;
    }
}

@media screen and (max-height:600px) {
    .services-text div {
        font-size: 0.7rem;
    }
}