#services {
    height: 100vh;
    width: 100vw;
    background-color: var(--aquamarine);
    overflow: hidden;
}

.services-relative-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-list {
    width: 30vw;
    margin-left: 65%;
    font-size: 1.5rem;
    opacity: 0;
    transition: var(--defaultTransition);
    transform: translate(50px, 0px);
    z-index: 10;
}

.show .services-list {
    opacity: 0.5;
    transition: var(--defaultTransition);
    transform: translate(0px, 0px);
}
.services-list:hover {
    font-size: 1.8rem;
    opacity: 1;
    transition: var(--defaultTransition);
    cursor: default;
}

.services-text {
    font-size: 0.8rem;
    text-align: right;
    transition: var(--defaultTransition);
    z-index: 5;
}

.services-text div {
    position: absolute;
    top: calc(50% - 30vh);
    left: calc(50% - 15vw);
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 0.8rem;
    transform: translate(-50px, 0px);
    transition: var(--defaultTransition);   
}

.colored-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: var(--defaultTransition);
    z-index: 0;
}

.services-list:nth-of-type(2):hover ~ .dotted-background span {
    background-color: var(--mindaro);
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(2):hover ~ .services-triangle {
    background-color: var(--mindaro);
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(2):hover ~ .colored-background {
    background-color: var(--mauve);
    transition: var(--defaultTransition);
} 


.services-list:nth-of-type(3):hover ~ .dotted-background span {
    background-color: #80C36F;
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(3):hover ~ .services-triangle {
    background-color: #80C36F;
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(3):hover ~ .colored-background {
    background-color: var(--yellow);
    transition: var(--defaultTransition);
} 


.services-list:nth-of-type(4):hover ~ .dotted-background span {
    background-color: var(--aquamarine);
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(4):hover ~ .services-triangle {
    background-color: var(--aquamarine);
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(4):hover ~ .colored-background {
    background-color: var(--indigo);
    transition: var(--defaultTransition);
} 


.services-list:nth-of-type(5):hover ~ .dotted-background span {
    background-color: #C4F094;
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(5):hover ~ .services-triangle {
    background-color: #C4F094;
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(5):hover ~ .colored-background {
    background-color: #FFAF7D;
    transition: var(--defaultTransition);
} 


.services-list:nth-of-type(6):hover ~ .dotted-background span {
    background-color: #FFAF7D;
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(6):hover ~ .services-triangle {
    background-color: #FFAF7D;
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(6):hover ~ .colored-background {
    background-color: var(--purple);
    transition: var(--defaultTransition);
} 


.services-list:nth-of-type(7):hover ~ .dotted-background span {
    background-color: #7EBDC2;
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(7):hover ~ .services-triangle {
    background-color: #7EBDC2;
    transition: var(--defaultTransition);
} 

.services-list:nth-of-type(7):hover ~ .colored-background {
    background-color: #FFCC33;
    transition: var(--defaultTransition);
} 

.services-triangle {
    position: absolute;
    top: 13%;
    right: 10vh;
    width: 80vh;
    height: 80vh;
    background-color: var(--yellow);
    clip-path: polygon(100% 9%, 0 0, 82% 100%);
    transition: all 1000ms ease-out;
    z-index: 4;
}

.dotted-background { 
    position: absolute;
    right: 15%;
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 2;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.row span {
    height: 3vh;
    width: 3vh;
    padding-right: 5px;
    border-radius: 100%;
    background-color: var(--yellow);
    transition: all 1000ms ease-out;
    z-index: 3;
}

span:hover {
    background-color: var(--rose-pompadour);
    transform: scale(2);
    transition: all 100ms ease-in;
}

.hover-me {
    position: absolute;
    top: 75%;
    right: 28vh;
    padding: 0.5rem;
    rotate: 50deg;
    font-size: 0.6rem;
    transition: var(--defaultTransition);
    cursor: default;
    z-index: 10;
}

.hover-me:hover {
    color: var(--yellow);
}

.hover-me:hover ~ .services-triangle  {
    background-color: var(--rose-pompadour);
    transform: scale(0.85);
    transition: var(--defaultTransition);
}

.hover-me:hover ~ .colored-background {
    background: linear-gradient(
        to right, var(--mindaro), var(--aquamarine), var(--indigo));
    background-size: 100% 100%;
}

.service-click {
    display: none;
}


/* MAXWIDTH MEDIA QUERIES */
@media screen and (max-width: 1280px) {
    .services-list {
        font-size: 1.2rem;
        padding: 2.5px;
    }

    .services-list:hover {
        font-size: 1.5rem;
    }

    .dotted-background {
        right: 0;
        width: 20vw;
    }
    
    .row {
        width: auto;
    }

    .services-text div {
        left: calc(50% - 14vw);
    }
}

@media screen and (max-width: 1080px) {
    .services-list {
        margin-left: 70%;
    }  

    .services-list:hover {
        font-size: 1.3rem;
    }

    .services-text {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:768px) {
    .hover-me {
        display: none;
    }

    .dotted-background {
        left: 50%;
    }

    .services-triangle {
        right: unset;
    }

    .services-list {
        font-size: 0.8rem;
    }

    .services-list:hover {
        font-size: 1rem;
    }

    .services-text div {
        width: 60vw;
        left: 1rem;
    }

    .service-click {
        position: absolute;
        bottom: 15%;
        left: 1rem;
        display: block;
        font-size: 0.5rem;
        text-align: left;        
        transition: var(--defaultTransition);
        z-index: 14;
    }

    .service-click:hover {
        padding: 5px;
        background-color: var(--rose-pompadour);     
        transform: translate(0, -70vh) scale(1.3);
        transition: var(--defaultTransition);
    }

    .services-triangle:hover {
        background-color: var(--rose-pompadour);
        transform: scale(0.85);
        transition: var(--defaultTransition);
    }

    .services-triangle:hover ~ .colored-background {
        background: linear-gradient(
            to right, var(--mindaro), var(--aquamarine), var(--indigo));
        background-size: 400% 400%;
        animation: animate-background 6s infinite ease-in-out;
    }

    .colored-background:hover {
        background-color: #fff;
    }

    .services-list.show-service {
        font-size: 1.1rem;
        opacity: 1;
    }

    .web.show-service {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .graphic.show-service {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .brand.show-service {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .logo2.show-service {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .illustration.show-service {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .product.show-service {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@media screen and (max-width:480px) {
    .services-relative-container {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .service-click:hover {
        transform: translate(0px, -50px) scale(1.3);
    }

    .services-list {
        margin-left: 1rem;
        padding: unset;
        width: 60vw;
    }

    .show .services-list {
        font-size: 1.1rem;
        opacity: 1;
    }

    .show .services-list:hover {
        font-size: 1.5rem;
    }

    .services-list:nth-of-type(2) {
        margin-top: 5rem;
    }

    .services-triangle {
        top: 8%;
        right: -13%;
    }

    .services-text div {
        top: 13rem;
        left: 0;
        transform: translate(-100vh, 0px);
        width: 100vw;
        height: unset;
        padding: 1rem;
        font-size: 0.8rem;
        align-items: flex-start;
    }
}


/* MAXHEIGHT MEDIA QUERIES */
@media screen and (max-height:600px) {
    .services-text div {
        font-size: 0.7rem;
    }
}


/* MINWIDTH MEDIA QUERIES */
@media screen and (min-width:769px) {
    .services-list:nth-of-type(2):hover ~ .services-text div:nth-child(1)  {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: var(--defaultTransition);
    } 
    
    .services-list:nth-of-type(3):hover ~ .services-text div:nth-child(2)  {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: var(--defaultTransition);
    } 
    
    .services-list:nth-of-type(4):hover ~ .services-text div:nth-child(3)  {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: var(--defaultTransition);
    } 
    
    .services-list:nth-of-type(5):hover ~ .services-text div:nth-child(4)  {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: var(--defaultTransition);
    }
    
    .services-list:nth-of-type(6):hover ~ .services-text div:nth-child(5)  {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: var(--defaultTransition);
    }
    
    .services-list:nth-of-type(7):hover ~ .services-text div:nth-child(6)  {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: var(--defaultTransition);
    }
}

@media screen and (min-width:1680px) {
    .services-list {
        font-size: 1.8rem;
    }

    .services-list:hover {
        font-size: 2rem;
    }
}


/* KEYYFRAMES FOR SERVICES */
@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}