.top-container {
    width: 100vw;
    height: 30vh;
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #E2CDB6;
}

.back-main {
    position: fixed;
    top: 3rem;
    right: 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 17;
}

.back {
    font-size: 0.6rem;
    padding: 5px;
    border: 1.5px solid black;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.61);
    transition: var(--defaultTransition);
}

.back:hover {
    transform: scale(1.4);
    background-color: #dbc0a2;
    transition: var(--defaultTransition);
}

.top-container h1 {
    z-index: 5;
}

.top-container p {
    font-size: 0.7rem;
    text-align: right;
    z-index: 5;
}

.pic-desktop-container {
    position: relative;
    width: 100vw;
    height: 100%;
    padding: 0rem 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

.pic-desktop-container div {
    width: 80vw;
    padding-bottom: 53.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: var(--defaultTransition);
}

.pic-desktop-container div:hover {
    transform: scale(1.2);
}

.pic-desktop-container div:first-child {
    background-image: url(../portfolio_assets/001_hero.png); 
}

.pic-desktop-container div:nth-child(2) {
    background-image: url(../portfolio_assets/001_about.png);
}

.pic-desktop-container div:nth-child(3) {
    background-image: url(../portfolio_assets/001_massages.png);
}

.pic-desktop-container div:nth-child(4) {
    background-image: url(../portfolio_assets/001_prices.png);
}

.pic-desktop-container div:nth-child(5) {
    background-image: url(../portfolio_assets/001_footer.png);
}

.pic-mobile-container {
    display: flex;
    width: 100vw;
    padding: 2rem 2rem 0rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.pic-mobile-container div {
    width: 30vw;
    height: 90vh;
    margin-bottom: 2rem;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: var(--defaultTransition);
}

.pic-mobile-container div:hover {
    transform: scale(1.1);
    transition: var(--defaultTransition);
}

.pic-mobile-container div:nth-child(1) {
    background-image: url(../portfolio_assets/001_hero_mobile.png);
}

.pic-mobile-container div:nth-child(2) {
    background-image: url(../portfolio_assets/001_about_mobile.png);
}

.pic-mobile-container div:nth-child(3) {
    background-image: url(../portfolio_assets/001_massages_mobile.png);
}

.pic-mobile-container div:nth-child(4) {
    background-image: url(../portfolio_assets/001_prices_mobile.png);
}

.pic-mobile-container div:nth-child(5) {
    background-image: url(../portfolio_assets/001_footer_mobile.png);
}

.bottom-container {
    position: relative;
    width: 100vw;
    padding: 4rem 15% 6rem;
    text-align: right;
    background-color: #E2CDB6;
}

.bottom-container p, .bottom-container h1, .bottom-container a {
    position: inherit;
    z-index: 5;
}

.footer {
    width: 100vw;
    padding-bottom: 10px;
    text-align: center;
    font-size: 0.5rem;
    background-color: #E2CDB6;
}

.top-triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    z-index: 1;
}

.top-triangles div:nth-child(1) {
    position: absolute;
    width: 55vh;
    height: 35vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #dbc0a2;
    transform: translate(-16vh, -16vh) rotate(-21deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.top-triangles div:nth-child(1):hover {
    transform: translate(-16vh, -16vh) rotate(-10deg) scale(1.1);
    transition: var(--defaultTransition);
}

.top-triangles div:nth-child(2) {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 30vh;
    height: 20vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #dbc0a2;
    transform: translate(-16vh, -16vh) rotate(-21deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.top-triangles div:nth-child(2):hover {
    transform: translate(-16vh, -16vh) rotate(-10deg) scale(1.1);
    transition: var(--defaultTransition);
}

.bot-triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.bot-triangles div:nth-child(1) {
    position: absolute;
    width: 55vh;
    height: 35vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #dbc0a2;
    transform: rotate(-21deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.bot-triangles div:nth-child(1):hover {
    transform: rotate(-10deg) scale(1.1);
    transition: var(--defaultTransition);
}

.bot-triangles div:nth-child(2) {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    width: 30vh;
    height: 20vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #dbc0a2;
    transform: rotate(150deg);
    transition: var(--defaultTransition);
    z-index: 1;

}

.bot-triangles :nth-child(2):hover {
    transform: rotate(160deg) scale(1.1);
    transition: var(--defaultTransition);
}


/* MAXWIDTH MEDIA QUERIES */
@media screen and (max-width: 1280px) {
    .pic-mobile-container {
        justify-content: space-evenly;
        padding: 1rem 1rem 0rem;
    }

    .pic-desktop-container {
        padding: unset;
    }

    .pic-desktop-container div {
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    .back-main {
        right: unset;
        left: 1rem;
        top: 1rem;
    }

    .top-container {
        padding: 0.5rem 1rem;
        height: 35vh;
        min-height: 210px;
    }

    .pic-mobile-container div {
        width: 45vw;
    }

    .pic-desktop-container div {
        width: 100vw;
    }

    .pic-desktop-container div:hover {
        transform: scale(1.6);
    }

    .top-triangles div:nth-child(2) {
        display: none;
    }

    .bottom-container {
        padding: 1rem;
    }

    .bottom-container p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 650px) {
    .top-container {
        height: 40vh;
    }

    .top-container h1 {
        font-size: 1.3rem;
    }

    .pic-mobile-container div {
        width: 90vw;
    }

    .pic-desktop-container div {
        margin: unset;
        margin-bottom: 10px;
        width: 100vw;
    }
    
    .pic-desktop-container {
        padding: unset;
    }
}

@media screen and (max-width: 420px) {
    .back-main {
        width: 80px;
    }

    .back {
        text-align: left;
    }
}