.flokika {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/IMG_6187.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}