.top-container {
    width: 100vw;
    height: 30vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #180d1c;
}

.top-container h1 {
    color: #fff;
}

.back-main {
    position: fixed;
    right: 2rem;
    top: 3rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 17;
}

.back {
    font-size: 0.6rem;
    text-align: right;
    color: #fff;
    border: 1.5px solid white;
    text-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    transition: var(--defaultTransition);
    z-index: 2;
}

.back:hover {
    transform: scale(1.4);
    background-color: #2C1A38;
    transition: var(--defaultTransition);
}

.top-container h1 {
    z-index: 5;
}

.top-container p {
    font-size: 0.7rem;
    color: #fff;
    text-align: right;
    z-index: 5;
}

.pic-mobile-container {
    width: 100vw;
    padding: 2rem 2rem 0rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pic-mobile-container div {
    width: 40vw;
    height: 40vw;
    margin: 1rem;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: var(--defaultTransition);
}

.pic-mobile-container div:hover {
    transform: scale(1.1);
    transition: var(--defaultTransition);
}

.pic-mobile-container div:nth-child(2) {
    background-image: url('../portfolio_assets/004_code.png');
}

.pic-mobile-container div:nth-child(1) {
    background-image: url('../portfolio_assets/004_product.png');
}

.pic-mobile-container div:nth-child(4) {
    background-image: url('../portfolio_assets/004_hello.png');
}

.pic-mobile-container div:nth-child(3) {
    background-image: url('../portfolio_assets/004_moodboard.png');
}

.pic-mobile-container div:nth-child(5) {
    background-image: url('../portfolio_assets/004_colors.png');
}

.pic-mobile-container div:nth-child(6) {
    background-image: url('../portfolio_assets/004_lines.jpg');
}

.bottom-container {
    position: relative;
    width: 100vw;
    padding: 4rem 15% 6rem;
    text-align: right;
    background-color: #180d1c;
}

.bottom-container p, .bottom-container h1, .bottom-container a {
    position: inherit;
    color: #fff;
    font-weight: 300;
    z-index: 5;
}

.footer {
    width: 100vw;
    padding-bottom: 10px;
    text-align: center;
    font-size: 0.5rem;
    background-color: #180d1c;
    color: #fff;
}

.top-triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    z-index: 1;
}

.top-triangles div:nth-child(1) {
    position: absolute;
    width: 55vh;
    height: 35vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #2C1A38;
    transform: translate(-16vh, -16vh) rotate(-21deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.top-triangles div:nth-child(1):hover {
    transform: translate(-16vh, -16vh) rotate(-10deg) scale(1.1);
    transition: var(--defaultTransition);
}

.top-triangles div:nth-child(2) {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 30vh;
    height: 20vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #2C1A38;
    transform: translate(-16vh, -16vh) rotate(-21deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.top-triangles div:nth-child(2):hover {
    transform: translate(-16vh, -16vh) rotate(-10deg) scale(1.1);
    transition: var(--defaultTransition);
}

.bot-triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.bot-triangles div:nth-child(1) {
    position: absolute;
    width: 55vh;
    height: 35vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #2C1A38;
    transform: rotate(-21deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.bot-triangles div:nth-child(1):hover {
    transform: rotate(-10deg) scale(1.1);
    transition: var(--defaultTransition);
}

.bot-triangles div:nth-child(2) {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    width: 30vh;
    height: 20vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #2C1A38;
    transform: rotate(150deg);
    transition: var(--defaultTransition);
    z-index: 1;
}

.bot-triangles :nth-child(2):hover {
    transform:  rotate(160deg) scale(1.1);
    transition: var(--defaultTransition);
}


/* MAXWIDTH MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .back-main {
        right: unset;
        left: 1rem;
        top: 1rem;
    }

    .top-container {
        padding: 0.5rem 1rem;
        height: 35vh;
        min-height: 210px;
    }

    .top-triangles div:nth-child(2) {
        display: none;
    }

    .pic-mobile-container {
        padding: unset;
    }

    .pic-mobile-container div {
        width: 100vw;
        height: 100vw;
        margin: unset;
        margin-top: 1rem;
    }

    .bottom-container {
        padding: 1rem;
    }

    .bottom-container p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 650px) {
    .top-container {
        height: 40vh;
    }
    
    .top-container h1 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 420px) {
    .back-main {
        width: 80px;
    }

    .back {
        text-align: left;
    }
}