:root {
    --black: #000000;
    --mainFont: 'Questrial', sans-serif;
    --decorativeFont: 'Raleway Dots', cursive;
    --scrollFont: 'Mulish', sans-serif;
    --defaultTransition: all 300ms ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    color: var(--black);
}

html {
    font-size: 25px;
    min-width: 280px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--mainFont);
}

h1 {
    font-size: 1.5rem;
    text-align: right;
}

h3 {
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

::selection {
    background-color: #000;
    color: #fff;
}

/* MAXHEIGHT MEDIA QUERIES */
@media screen and (max-height: 650px) {
    html {
        font-size: 20px;
    }
}